@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --white: #FFF;
    --green: #16BB00;
    --red: #8D0000;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

section .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--red);
    clip-path: circle(45% at bottom right);
}

header{
    background-color: var(--red);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navegation ul{
    position: relative;
    display: flex;
}

header .navegation li{
    list-style: none; 
}

header .navegation li a{
    color: var(--white);
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 19px;
    margin-left: 100px;
}
.logo{
    margin: 0;
    padding: 0;
    width: 100px;
}
.logo img{
    width: 100%;
}


.container{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .text{
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}

.container .text h2{
    color: var(--red);
    font-size: 3em;
    line-height: 2.5em;
    margin-bottom: 10px;
    font-weight: 400;
}

.container .text h2 span{
    font-weight: 800;
    font-size: 3.5em;
    color: var(--green);
}

.container .text p{
    color: var(--red);
}

.container .text a{
    display: inline-block;
    margin-top: 50px;
    padding: 10px 25px;
    background-color: var(--green);
    color: var(--white);
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
}

.container .text a:hover{
    transform: translateY(-10px);
}

.icons{
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons li{
    list-style: none;
}

.icons li a{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--red);
    margin-left: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

.icons li a:hover{
    background: var(--green);
    transform: translateY(-10px);
}

.icons li a img{
    transform: scale(0.5);
    filter: invert(1);
}

.boxImg{
    position: absolute;
    right: 0;
    bottom: -40px;
}

.boxImg img{
    width: 600px;
}

.boxImg .aplicativoimg{
    transform: rotate(-15deg);
}
